################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcMovie/v16/Server/sqlite3/db.lock
/.vs/ISD-ASP.NET/config/applicationhost.config
/MvcMovie/obj/*
/MvcMovie/bin/*