@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <br />
        <h1 class="display-4">You have logged in successfully.</h1>
        <br />
        <br />
        <div>
            <a asp-area="" asp-controller="Movies" asp-action="BrowseCollection"> <h2>Continue browsing.</h2> </a>
        </div>
    </div>
