@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">You have logged in successfully.</h1>
        <div>
            <a asp-area="" asp-controller="Movies" asp-action="BrowseCollection"> Continue browsing. </a>
        </div>
    </div>
