@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>PLACEHOLDER MAIN PAGE - WILL EVENTUALLY SHOWCASE 3 FEATURED FILMS AND PROVIDE A LINK TO THE "BROWSE COLLECTION" PAGE</p>
</div>
