@model MvcMovie.Models.Account
@using MvcMovie.Controllers


@{
    ViewData["Title"] = "Logout";
}

    <h1>Logout</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Logout">
         <div>Are you sure you want to logout?</div>
            <div class="form-group">
                <input type="submit" value="Yes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
