@{
    ViewData["Title"] = "Contact Us";
    ViewData["Message"] = "You can contact us using the details below.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    15 Broadway<br />
    Ultimo NSW 2007<br />
    Phone: 91 1252 2391<br />

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@OMS.com">Support@OMS.com</a><br />
    <strong>Media:</strong> <a href="mailto:Marketing@OMS.com">Media@OMS.com</a>
</address>
