@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    15 Broadway<br />
    Ultimo NSW 2007<br />
    <abbr title="Phone">Phone:</abbr>
    91 1252 2391
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@OMS.com">Support@Support.com</a><br />
    <strong>Media:</strong> <a href="mailto:Marketing@OMS.com">Media@OMS.com</a>
</address>
